@import 'antd/dist/reset.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}


@media screen and (min-width: 1580px) {

  .ant-layout-header,
  .departmentWrapper,
  .privilegeWrapper,
  .stucture,
  .past {
    width: 1520px !important;
    margin: 0 auto;
    padding-inline: 0px !important;
  }


}

.privilegeWrapper {
  padding: 0 10px;
}


@media screen and (max-width: 640px) {

  .layout-header,
  .ant-layout-header,
  .privilegeWrapper,
  .stucture,
  .past {
    padding-inline: 10px !important;
  }

  .ant-list-item-extra {
    display: none;
  }

  .avatar {
    right: 10px !important;
  }
}

.ant-layout-header {
  background-color: white !important;
}


.wrapperLogin {
  background-image: url(/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrapperLogin form {
  background: #FFF;
  max-width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 15px;
}

.wrapperLogin form img {
  width: 100%;
}

.wrapperLogin .button_wrapper {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  display: flex;
  line-height: 1.5;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.44);
  text-decoration: none;
  background-color: rgb(0, 132, 255);
  margin: 10px 0;
}

.wrapperLogin .button_wrapper img {
  width: 10%;
}

.wrapperLogin .button_wrapper>div {
  width: 70%;
  color: #FFF;
  font-size: 20px;
}

/*** Waiting*/

.waiting-wrapper {
  background-image: url(/bgwaiting.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.waiting {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.waiting form {
  background: #FFF;
  max-width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.waiting .title h1 {
  padding: 0 15px 20px 15px;
  font-family: 'Oswald', sans-serif;
  color: #2a109c;
}

.waiting form img {
  width: 100%;
}

.waiting .dot-typing {
  margin: 10px auto;
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  animation: dot-typing 1.5s infinite linear;
}

@keyframes dot-typing {
  0% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }

  16.667% {
    box-shadow: 9984px -10px 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }

  33.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }

  50% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px -10px 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }

  66.667% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }

  83.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px -10px 0 0 #9880ff;
  }

  100% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
}


.title button {
  border: none;
  padding: 20px 10px;
  width: 100%;
  background: rgb(69, 69, 224);
  color: rgb(235, 235, 235);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 15px;
}

.title button:hover {
  background: #3214b7;
  color: white;
  transition: all 0.3s;
}


/* AVATAR */
.avatars {
  padding-top: 10px;
  text-align: center;
}

.avatars img {
  margin: 5px 5px 5px 5px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.avatars img.select {
  border: 5px solid rgb(101, 101, 236);
  border-radius: 50%;
}

.avatars img.change {
  width: 30px;
  height: 30px;
  position: relative;
  top: 5px;
}

@-webkit-keyframes rotating

/* Safari and Chrome */
  {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.avatars img.rotating {
  -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  -ms-animation: rotating 3s linear infinite;
  -o-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
}