@import 'antd/dist/reset.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}


@media screen and (min-width: 1580px) {

  .ant-layout-header,
  .departmentWrapper {
    width: 1580px !important;
    margin: 0 auto;
  }
}


@media screen and (max-width: 640px) {

  .layout-header,
  .ant-layout-header {
    padding-inline: 10px !important;
  }

  .ant-list-item-extra {
    display: none;
  }

  .avatar {
    right: 10px !important;
  }
}

.ant-layout-header {
  background-color: white !important;
}